body {
    display: grid;
    /*grid-template-columns: repeat(1fr, 3);*/
    text-align: center;
    vertical-align: middle;
}

.card {
    width: 100px;
    height: 100px;
    padding: 2px;
}

.cardHolder {
    height: 104px;
    padding: 5px;
}

#table {
    display: flex;
    justify-content: center;
    height:120px;
    padding: 5px;
}

.table-item {
    padding:2px;
    justify-content: center;
    span {
        vertical-align: top;
    }
}

.playable0:hover {
    border: 3px solid rgb(241, 103, 103);
    padding: 0px;
}

.playable1:hover {
    border: 3px solid rgb(105, 200, 255);
    padding: 0px;
}

#notif-title {
    color: rgb(255, 162, 0);
    font-size: 20px;
    border: 2px solid rgb(255, 153, 0);
    background-color: rgb(253, 255, 194);
}

#notifications {
    font-family: auto;
    color: rgb(255, 162, 0);
    font-size: 20px;
    border: 5px double rgb(255, 153, 0);
    background-color: rgb(253, 255, 194);
}

.notif0 {
    color: rgb(255, 1, 1);
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(244, 244, 244);
}

.notif1 {
    background-color: rgb(230, 230, 230);
    color: rgb(7, 147, 255);
    border: 1px solid rgb(244, 244, 244);
}